body{
    font-family: Arial, Helvetica, sans-serif;
}

p[type="advanced search header"]{
    color: #d93025;
    font-size: 20px;
}

div[class="main"]{
    padding-left: 3em;
}

input{
    width: 600px;
    height: 20px;
}

label{
    display: inline-block;
    width: 200px;
    margin-top: 2em;
    font-size: 13px;
    padding: 1px 2px;
    border-width: 2px;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
}

input[type="submit"]{
    width: 130px;
    height: 20px;
    padding-top: .5em;
    padding-bottom: 1.5em;
    text-align:center;
    color:white;
    background-color:#4d90fe;
    border-color:transparent;
    font-weight:bold;
    margin-top: 1em;
}

p[type="button"]{
    text-align:right;
}

fieldset{
    width:500px;
    border-color: transparent;
}

