body{
    font-family: Arial, Helvetica, sans-serif;
}

p[type="advanced search header"]{
    color: #d93025;
    font-size: 20px;
}

div[class="main"]{
    padding-left: 3em;
}

input{
    width: 600px;
    height: 20px;
}

label{
    display: inline-block;
    width: 200px;
    margin-top: 2em;
    font-size: 13px;
    padding: 1px 2px;
    border-width: 2px;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
}

input[name="search"]{
    width: 130px;
    height: 20px;
    padding-top: .5em;
    padding-bottom: 1.5em;
    text-align:center;
    color:white;
    background-color:#4d90fe;
    border-color:transparent;
    font-weight:bold;
    margin-top: 1em;
}

input[name="back"]{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: Roboto, arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    width: 60px;
    cursor: pointer;
    user-select: none;
}

fieldset{
    width:500px;
    border-color: transparent;
}

p[type="button"]{
    text-align: right;
}
