body {
    text-align: center;
}
p{
    text-align: right;
    padding: 5px;
    margin: 0 5px;
    color: #202124;
}

input[type="text"]{
    padding: .5em 1em;
    border-radius: 25px;
    border: solid 1px rgb(196, 196, 196);
    width: 41.5em;
    height: 2.25em;
    font-size: 14px;
    font-family: Roboto, arial, sans-serif;
}

input[type="submit"]{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: Roboto, arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}