body {
    text-align: center;
}
p{
    text-align: right;
}

input[type="text"]{
    padding: .5em;
    border-radius: 25px;
    border: solid 1px rgb(196, 196, 196);
    width: 40em;
    height: 2em;
}
